.form-container {
    border: 5px;
    border-color:darkolivegreen;
    border-style: solid;
    border-radius: 25px;    
    margin: 5%;
    padding: 1%;
    width: 40%;
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 2%;
    text-align: center;
}

