.plant-information {
    width: 20%;
}

.disclose-plant {
    width: 100%;
    text-align: center;
}

.show-button {
    border-color: brown;
    padding: 5%;
    width: 100%;
    background-color: white;
}

.plant-image {
    width: 100%;
}